body{
    max-width: 100%;
    font-size: 18px;
    font-family: url(https://fonts.google.com/specimen/Open+Sans);
    
}

/* Aquí comienza el header */

header{
    margin-bottom: 150px;
    font-family: url(https://fonts.google.com/specimen/Poppins);
}

#imgTitle{
    width: 158px;
    height: 26px;
}

#try{
    width: 180px;
    line-height: 40px;
    border: none;
    border-radius: 40px;
    background-color: white;
    color: hsl(192, 100%, 9%);
    font-size: 12px;
    box-shadow: 0px 5px 15px 0px lightgray;
    margin-bottom: 50px;
}

.introduction{
    color: hsl(192, 100%, 9%);
    background-image: url(./images/bg-hero-desktop.svg);
    padding: 40px 60px 60px 60px;
}

#description{
    margin: 80px 60px 80px 50px;
}

#getstarted1{
    width: 230px;
    line-height: 40px;
    border: none;
    border-radius: 40px;
    background-color: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
    font-size: 12px;
}

.displayTitle{
    display: flex;
    justify-content: space-between;
}

.display{
    display: flex;
    justify-content: space-between;
}


#imgHeader{
    max-width: 100%;
}
/* hasta aquí va el header */

#card{
    display: flex;
    border: 2px solid whitesmoke; 
    border-radius: 15px;
    max-width: 82%;
    margin: auto;
    margin-bottom: 50px;
    height: auto;
    box-shadow: 0px 5px 15px 0px lightgray;
}

.text{
    padding: 60px 50px;
}

.text p{
    color: hsl(208, 11%, 55%);
}

#img{
    max-width: 100%;
    padding: 35px 40px;
}

.callaction{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    border: 2px solid whitesmoke; 
    border-radius: 15px;
    max-width: 50%;
    margin: 0px 254px -85px 500px;
    height: auto;
    box-shadow: 0px 0px 15px 0px lightgray;
    padding: 50px;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.callaction h3{
    margin: 30px;
}

#ready{
    margin: 4px;
}

#getstarted2{
    width: 350px;
    line-height: 55px;
    border: none;
    border-radius: 40px;
    background-color: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
    font-size: 16px;
    box-shadow: 0px 5px 15px 0px lightgray;
}

/* Aquí comienza el footer */

footer{
    background-color: hsl(192, 100%, 9%);
    color: white;
    margin-top: 14rem;
    position: relative;
    padding-bottom: 5px;
}

.dirFooter{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-left: 48px;
}

.dirFooter1{
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.dirFooter2{
    max-width: 20%;
}

.dirFooter3{
    max-width: 20%;
}

.imgFooter{
    margin-top: 150px;
    margin-left: 90px;
    margin-bottom: 20px;

}

.icons{
    border-color: white;
    border-radius: 100%;
    margin: 10px;
    color: white;
}

.iconSpace{
    margin-right: 20px;
    margin-top: 20px;
}

.copyright{
    text-align: right;
    margin-right: 100px;
    margin-bottom: 60px;
}


/* hasta aquí va el footer */



@media (max-width:375px) {

    header{
        margin-bottom: 0px;
    }

    #imgTitle{
        width: 126px;
        height: 21px;
    }
    
    #try{
        width: 140px;
        line-height: 30px;
        margin-bottom: 0px;
    }

    .displayTitle{
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .display{
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        margin: 0px;
        margin-top: 0px;
        padding: 15px;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    #descrption{
        margin-top: 0px;
    }

    .descrip{
        padding-top: 0px;
    }

    .descrip h1{
        font-size: 25px;
        font-weight: bold;
    }

    .introduction{
        padding: 0px;
    }

    #getstarted1{
        margin-top: 15px;
        margin-bottom: 50px;
    }

    #card{
        max-width: 90%;
    }

    .card1{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .card2{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .callaction{
        max-width: 90%;
        margin: 0px 0px 0px 0px;
    }

    #getstarted2{
        max-width: 90%;
    }

    .imgFooter{
        margin-top: 150px;
        margin-left: 15px;

    }

    .dirFooter{
        display: flex;
        flex-direction: column;
        margin: 20px;
        margin-top: 0px;
    }

    .dirFooter1{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-bottom: 40px;
    }
    
    .dirFooter2{
        max-width: 100%;
    }

    .dirFooter3{
        max-width: 100%;
        margin: 0px;
        margin-top: 30px;
        margin-bottom: -15px;
        display: flex;
        justify-content: center;
    }

    .copyright{
        text-align: center;
        justify-items: center;
        align-items: center;
        margin: 0px;
        margin-bottom: 50px;
    }
  
}